
// Header + Nav
// ==========================


#head {
	position:relative;
	z-index:3;
}

#headTemp {
	position:absolute;
	top:0;
	width:100%;
	z-index:2;
}

header {
	background-color:#068e59;
	color:#81bdbb;
	position:relative;
	//width:100%;
	//min-width: 960px;
	height: 30px;
	top: 8px;
	display:inline-block;
}

	nav {
		//width:960px;
		//margin:0 auto;
		letter-spacing:1px;
		position:relative;
		padding-top:2px;
		display:table;
		color:#efede3;
		text-decoration:none;
		text-transform:uppercase;
		font-size:1.2em;

		#nav_about, #nav_work, #nav_notes, #nav_contact {
			//width:20%;
			display:inline-block;
			padding:0 8px;
		}

		a, a:visited {
			font-size:1.2em;
			color:#efede3;
			text-decoration:none;
			-webkit-transition: font-size .1s ease, -webkit-transform .1s ease;
			-moz-transition: font-size .1s ease, -moz-transform .1s ease;
			-o-transition: font-size .1s ease, -o-transform .1s ease;
			transition: font-size .1s ease, transform .1s ease;


			&:hover {
				//font-size:1.35em;
				//vertical-align: top;
				color:#fff;
				//transform: rotate(-5deg);
				//-ms-transform: rotate(-5deg); /* IE 9 */
				//-webkit-transform: rotate(-5deg); /* Safari and Chrome */
			}
		}

		#title {
			width:150px;
			display:inline-block;
			font-family: 'Montserrat', sans-serif;
			-webkit-font-smoothing: antialiased;
			-webkit-text-stroke: 0.20px;
			position:relative;
			top:-1px;
			margin:0 15px 0 20px;
		}

		#nav_notes, #nav_contact { text-align:right;}
		.icon-mail span{
			display:none;
			position:absolute;
			background-color:#068e59;
			top: 0;
			right: 0;
			height: 20px;
			padding-top: 15px;
			text-align: right;
			color:#efede3;
			border-bottom:1px solid #efede3;
			font-size:0.6em;
			font-family: 'Ubuntu', sans-serif;
			text-transform:uppercase;
		}
		.icon-mail:hover {
			span {display:block;}
		}
	}

.colourChangeBg {
		-moz-transition: background-color .1s, border-color .2s;
		-webkit-transition: background-color .1s, border-color .2s;
		-o-transition: background-color .1s, border-color .2s;
		transition: background-color .1s, border-color .2s;
} //Fade text colour change
